[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CAGEfightR"]
	path = CAGEfightR
	url = https://github.com/maltethodberg/cagefightr
